*{
    margin:0px;
    border:0px;
    padding:0px;
    font-family:arial;
    overflow-x:hidden

}
.ml-auto{
    margin-left:auto;
}
.mr{
    margin-right:5px;
}
.mnt{
    /*margin-top:-52px;*/
    margin-top:-5.1%;
}
.ma{
    margin:auto;
}

.grid-1{
    width:10%;
}
.grid-15
{
  width:15%;
}
.grid-2{
    width:20%;
}
.grid-3{
    width:30%;
}
.grid-4{
    width:40%;
}
.grid-5{
    width:50%;
}
.grid-6{
    width:60%;
}
.grid-7{
    width:70%;
}
.grid-8{
    width:80%;
}
.grid-85
{
  width:85%;
}

.grid-9{
    width:90%;
}
.grid-10{
    width:100%;
}
.bg-grey{
    background:#ebebe0;
}
.bg-title{
    background:#999966;
}
.bg-red{
    background:#ff1a1a;
}
.float-right{
    float:right;
}
.text-decoration{
    text-decoration:none;
}
.pd-20
{
  padding:20px;
}
.text-center
{
  text-align:center;
}
.main-content
{
  padding:50px 0px 20px 0px;
}

.red:hover{
    background:#e60000;
}



.sidebar
{
  background:#1C2524;
  color:white;
  height:800px;
  position:fixed;
  font-size:15px;
  font-family: arial;
}
.sidebar .sidebar-title
{
  background:#2A3F52;
  box-shadow:0px 1px 2px white;
  font-size:18px;
  font-weight:bolder;padding:20px;

}
.sidebar a
{
  display:block;
  text-decoration:none;
  padding:15px;
  //margin:10px;
  border:1px solid white;
  color:white;
  text-transform:uppercase;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  text-align:center;
}
.sidebar a:hover
{
  background:#2A3F52;
}
.sidebar .active
{
  background:#EBEBE0;
  color:#1C2524;
  font-weight:bolder;
}

table {
    border-collapse: collapse;
}

.product-table tr td:hover{background-color:#d6d6c2;}
.table-radius
{
    border-radius:10px;
}
.table-title
{
  background:#2A3F52;

}
.product-table
{
  margin-left:20px;
  margin-bottom:20px;
  float:left;
  box-shadow:0px 1px 2px gray;
  margin-left:50px;
}
.product-table tr th
{
  padding:15px;
  color:white;

}
.product-table tr td
{
  padding:10px;
  border:1px solid #F5F6F7;
}
.button a
{
  text-decoration: none;
  cursor:pointer;
}
.text-white
{
  color:white;
}
.text-center
{
  text-align:center;
}
.button
{
  padding:5px;
  border-radius:5px;
  box-shadow:0px 1px 2px gray;
  //color:white;
  cursor:pointer;
}
.edit
{
  //background:#05BEFF;
  border:1.5px solid #0063B1;
  cursor:pointer;
}
.delete
{
  //background:red;
  border:1.5px solid red;
  cursor:pointer;

}
.view
{
  //background:#55931F;
  border:1.5px solid green;
  cursor:pointer;

}
.success
{
  background:#55931F;
  color:white;
  //padding:5px;
  //margin:2px;
}
.success a
{
  color:white;
  cursor:pointer;
  padding:10px;
}
.danger
{
  background:red;
  color:white;
}
.danger a
{
  color:white;
  cursor:pointer;
  padding:10px;
}
.title
{
  font-weight:bolder;
  font-size:20px;
  text-transform:uppercase;
  color:#2A3F52;
}
.add a
{
  color:white;
  cursor:pointer;
  padding:10px;
}
.login-form
{
  background:#F5F6F7;
  position:relative;
  top:180px;
  box-shadow:0px 2px 2px gray;
}
.login-form .title
{
  font-size:25px;
  text-transform:uppercase;
  color:#2A3F52;
}
.login-form tr th,td
{
  padding:15px;
}
.login-form .submit
{
  background:#2A3F52;
  border-radius:3px;
  padding:10px;

}
.login-form,.form input
{
  padding:10px;
  border-radius:5px;
}
.form
{
  background:#F5F6F7;

  box-shadow:0px 2px 2px gray;
}
.mt{
    margin-top:-200px !important;
}